body {
    padding: 0;
    margin: 0;
    background: #e8ebe7;
    color: #76a1b8;
}

#header {
    position: sticky;
    top: 0;
    display: flex;
    height: 50px;
    width: 100vw;
    background: #76a1b8;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.header-item {
    color: #eeeeee;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

#footer {
    margin-top: 100px;
    width: 100vw;
    height: 180px;
    background: #76a1b8;
    color: #e8ebe7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

#main {
    justify-content: center;
    margin: 0 auto;
    width: 980px;
}

.title {
    padding-top: 40px;
    margin: 0 0 40px 0; /* 上, 右, 下, 左 */
    text-align: center;
    border-bottom: 4px dotted #c9be72;
}

#profile {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#profile h2 {
    margin: 0;
}

.imgbox {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 256px;
    width: 256px;
    padding: 20px;
    background: #76a1b8;
    color: #eeeeee;
    border-radius: 20px;
}

#prof-img {
    width: 200px;
    border-radius: 100%;
}

#link-area {
    display: flex;
    justify-content: space-around;
}

#spacing-button {
    display: flex;
    justify-content: center;
}

#spacing-button button {
    margin: 10px;
    padding: 70px 100px;
    background: #c9be72;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #e8ebe7;
    cursor: pointer;
    transition: 0.3s;
}

#spacing-button button:hover {
    background-color: #76a1b8;
}

#fav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

#fav img {
    height: 320px;
    border-radius: 10px;
}

#lists {
    display: flex;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr {
    border-bottom: solid 1px #eee;
}

table tr:nth-child(even) td {
    background: #dddddd;
}

table tr:hover {
    background-color: #d4f0fd;
}

table th,
table td {
    text-align: center;
    width: 25%;
    padding: 15px 0;
}
